:root {
    --yellow: #FCE38A;
    --pink: #F38181;
    --green: #8AAEAC;
    --ceramic: #f8f5f2;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;
}

body {
    background-color: white;
}

.headerItem {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    font-size: 20px;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 95px;
}

.welcome {
    background-image: url("images/background-botanical.jpg");
    background-repeat: no-repeat;
    height: 585px;
    display: flex;
    justify-content: flex-end;
    background-position: center;
    background-size: 100% auto;
}

.welcome_content {
    color: var(--ceramic);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#hello_txt {
    color: var(--yellow);
    ;
    font-size: 100px;
}

#icon {
    width: 30px;
    padding: 10px;
}

#text {
    width: 80%;
    font-size: 36px;
}

.sectionName {
    font-size: 32px;
}

.contactOrCheckCV {
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    /* text-align: center; */
    font-size: 36px;
    height: 220px;

}

.redirectingButtons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 10px 0;
    /* max-width: 600px; */
    /* justify-self: center; */
}

.aboutMe {
    background-color: var(--yellow);
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.880208) 11.98%, rgba(255, 255, 255, 0) 100%), rgba(252, 227, 138, 0.5);
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aboutMeContent {
    background-color: white;
    height: 280px;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0 30px;
}

.boxCV {
    width: 90%;
    display: inline-block;
}

.boxCV p {
    text-align: justify;
}

.myPhoto {
    width: 200px;
    height: 200px;
    border-radius: 90%;
}


.skills {
    background-color: var(--yellow);
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0.880208) 11.98%, rgba(255, 255, 255, 0) 100%), rgba(252, 227, 138, 0.5);
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skillsContent {
    background-color: white;
    height: 320px;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    /* padding: 0 30px; */

    font-size: 24px;
}

.skillsBox {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-content: top;
}

.skillName {
    color: var(--pink);
}

.iconSkills {
    width: 150px;
    height: 150px;
    /* background-color: gray; */
}

.portfolio {
    width: 100%;
    height: 750px;
    text-align: center;
}

.picContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.pic {
    width: 100%;
    height: 350px;
    object-fit: cover;

}

.picDiv {
    position: relative;
}

.pic1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic1Text {
    position: absolute;
    float: left;
    text-align: left;
    margin-left: 30px;
    z-index: 1;
    width: 80%;
}

.pic2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic4 {
    grid-area: pic4;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pic5 {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pic5Text {
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 1;
    width: 50%;
    margin-right: 30px;
}

.designTitle {
    font-size: 40px;
}

.contact {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(252, 227, 138, 0.5);
    text-align: center;
    margin-top: 100px;
    /* border-bottom: 100px; */

}


.contactContent {
    height: 600px;
    width: 90%;
    display: inline-block;
    margin-bottom: 100px;
}

.rectangleInfo {
    background-color: var(--green);
    width: 40%;
    height: 100%;
    float: left;
    color: white;
    font-size: 18px;
    text-align: left;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInfo {
    width: 90%;
    margin: 0 auto;
}

.envelopeIcon {
    filter: invert(100%);
}

.adress {
    margin-top: 30%;
}

.rectangleForm {
    background-color: white;
    width: 60%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}

.contactForm {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.contactForm p {
    font-size: 36px;
    text-align: left;
}

.contactForm button {
    float: right;
}

input {
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 15px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    background: #FAFAFF;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
}

#messageInput {
    height: 200px;
    text-align: top;
    vertical-align: top;
}

button {
    background: var(--pink);
    border-radius: 15px;
    color: var(--ceramic);
    border: none;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.redirectingButton {
    width: 200px;
    height: 50px;
}

.smallButton {
    width: 100px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    color: var(--green);
}