:root {
    --yellow: #FCE38A;
    --pink: #F38181;
    --green: #8AAEAC;
    --ceramic: #f8f5f2;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;

}

body {
    background-color: white;
}

.headerItem {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    font-size: 20px;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 95px;
}

.welcome {
    background-image: url("images/background-botanical.jpg");
    background-repeat: no-repeat;
    height: 585px;
    display: flex;
    justify-content: flex-end;
    background-position: center;
    background-size: 100% auto;
}

.welcome_content {
    color: var(--ceramic);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#hello_txt {
    color: var(--yellow);
    ;
    font-size: 100px;
}

#icon {
    width: 30px;
    padding: 10px;
}

#text {
    width: 80%;
    font-size: 36px;
}

.sectionName {
    /* margin-left: 50px; */
}

.contactOrCheckCV {
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    /* text-align: center; */
    font-size: 36px;
    height: 220px;

}

.redirectingButtons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 10px 0;
    /* max-width: 600px; */
    /* justify-self: center; */
}

.aboutMe {
    background-color: var(--yellow);
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.880208) 11.98%, rgba(255, 255, 255, 0) 100%), rgba(252, 227, 138, 0.5);
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aboutMeContent {
    background-color: white;
    height: 280px;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0 30px;
}

.boxCV {
    width: 90%;
    display: inline-block;
}

.boxCV p {
    text-align: justify;
}

.myPhoto {
    width: 200px;
    height: 200px;
    border-radius: 90%;
}


.skills {
    background-color: var(--yellow);
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0.880208) 11.98%, rgba(255, 255, 255, 0) 100%), rgba(252, 227, 138, 0.5);
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.skillsContent{
    background-color: white;
    height: 320px;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    /* padding: 0 30px; */

    font-size: 24px;
}
.skillsBox{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-content: top;
}
.skillName{
    color: var(--pink);
}

.iconSkills{
    width: 150px;
    height: 150px;
    /* background-color: gray; */
}

button {
    background: var(--pink);
    border-radius: 15px;
    color: var(--ceramic);
    border: none;
    text-align: center;

}

.redirectingButton {
    width: 200px;
    height: 50px;

}

footer {
    text-align: center;
}